*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.nav-bar {
    /* background-color: crimson; */
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #DBEEF4;
    align-items: center;
    padding: 0vw 5vw;
    border-bottom: 2px solid black;
}

.nav-bar h1{
    font-size: 2.5VW;
    font-weight: 900;
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 4vw;
}
.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: 300;
}

i {
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}
.nav-item button {
    font-size: 1.1vw;
    padding: 0.40vw 1vw;
    font-weight: 500;
    background-color: transparent;
    border-radius: 5px;
}

.nav-item button:hover{
    background-color: #8CA0BB;
}

.content {
    width: 100%;
    height: calc(100% - 80px);
    background-color: #DCEFF5;
    display: flex;
    position: relative;

}
.left-side {
    width: 55%;
    padding: 5vw 5vw;
}

.left-side h1 {
    color: #65799b;
    font-size: 3.2vw;
    line-height: 4.4vw;
}

/* .left-side h1 span {
    color: #65799B;
} */

.left-side p {
    font-size: 1.2vw;
    font-weight: 400;
    color: #8CA0BB;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.content button {
    font-size: 1.5vw;
    padding: 1.2vw 3vw;
    font-weight: 700;
    background-color: transparent;
    border-radius: 5px;

}

.right-side img{
    height: 100;
    width: 100%;
    
    border-radius: 10px;

}
.right-side {
    margin: 3rem 5rem;
    width: 45%;
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #D8F4FD;
}

.form-container {
    background-color: #C8EFFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5vw 5vw;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 22px; 
    padding: 5px 10px;   
}

.f2 {
    padding: 1.5vh 20vw;
    border-radius: 20px;
}

.l-btn {
    background-color:#1279FD;
    border: none;
    padding: 1.2vw 6vw;
    border-radius: .30rem;
    color: white;
    left: 50%;
}

.form-container h1 {
    color: #65799b;
}

.form-container p {
    font-size: 1.5vw;
    font-weight: 400;
    color: #8CA0BB;
    width: 30vw;
    margin-top: 1.1vw;
    margin-bottom: 2vw;
}

.abs {
    background-color: #E2FDF1;

}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 2vw;
    gap: 2vw;
    margin: 0vw 3vw;
    background-color: #E2FDF1;
}

.d1 {
    display: inline-flex;
    flex-direction: column;
    gap: 2vw;
    width: 35%;
}

.d2 {
    width: 30%;
    line-height: 2vw;
}

.d2 ul{
    list-style: none;
    color: #8CA0BB
}

.d3{
    width: 35%;
    display: inline-flex;
    flex-direction: column;
    gap: 2vw;
}

h3{
    color: #65799b;
}

.last p {
    color: #8CA0BB
    
}
@media (max-width: 600px) {
    .nav-bar{
        padding: 0 5vw;
        height: 60px;
    }
    .nav-bar h1{
        font-size: 6vw;
    }

    .nav-item a {
        font-size: 4vw;
        display: none;
    }

    .nav-item button {
        display: none;
    }

    i{
        display: block;
        font-size: 6vw;
    }

    .content {
        height: calc(100% - 60px);
        flex-direction: column;
    }

    .left-side{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }

    .right-side {
        width: 100%;
        height: 55%;
        margin-left: 0;
    }

    .left-side h1 {
        font-size: 10vw;
        line-height: 12vw;
    }

    .left-side p {
        font-size: 4vw;
        width: 90%;
        margin-top: 7vw;
        margin-bottom: 8vw;
    }

    .content button {
        padding: 3vw 6vw;
        border-radius: 4px;
        font-weight: 500;
        font-size: 3.5vw;

    }

    .last{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }
    .d1{
        width: 100%;
    }

    .d2{
        line-height: 5vw;
        width: 100%;
    }

    .d3{
        width: 100%;
        gap: 20px;
    }

}